<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>Reinforcement Learning</title>
  {{#absoluteUrl}}
  <meta property="og:title" content="{{{title}}}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{{absoluteUrl}}}/featured-slide.jpg" />
  <meta property="og:url" content="{{{absoluteUrl}}}" />
  {{/absoluteUrl}}
  <link rel="shortcut icon" href="{{{base}}}/favicon.ico" />
  <link rel="stylesheet" href="{{{base}}}/dist/reveal.css" />
  <!-- <link rel="stylesheet" href="{{{themeUrl}}}" id="theme" /> -->
  <link rel="stylesheet" href="{{{base}}}{{{highlightThemeUrl}}}" />
  {{#cssPaths}}
  <link rel="stylesheet" href="{{{base}}}/{{{.}}}" />
  {{/cssPaths}}

  {{#watch}}
  <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
  </script>
  {{/watch}}
</head>

<body>
  {{{listing}}}
  <script>
    var footer = $('#footer-container').html();
    $('div.reveal').append(footer);
  </script>
</body>

</html>
